$primary-theme: #0D1117;
$secondary-theme: rgb(172, 0, 0);
$nav-dark: #161B22;
$text-color: #E4E8EC;
$text-color-dim: #c8c8c9;
$background: black;
$prefix: 'list-group';

%post-button {
    --bs-btn-padding-y: .1rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-border-radius: .2rem;
}


.list-group-item-dark {
    --bs-list-group-color: white!important;
    --bs-list-group-bg: black!important;
    // --bs-list-group-border-color: var(--bs-dark-border-subtle);
    // --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    // --bs-list-group-action-hover-bg: var(--bs-dark-border-subtle);
    // --bs-list-group-action-active-color: var(--bs-emphasis-color);
    // --bs-list-group-action-active-bg: var(--bs-dark-border-subtle);
    // --bs-list-group-active-color: var(--bs-dark-bg-subtle);
    // --bs-list-group-active-bg: var(--bs-dark-text-emphasis);
    // --bs-list-group-active-border-color: var(--bs-dark-text-emphasis);
}


.rounded-pill {
    background-color: $secondary-theme;
}

%well {
    color: $text-color;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
    height: 100vh;
}

%bubble {
    background-color: $primary-theme;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

%dark-bubble {
    background-color: black;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.background-theme {
    background-color: $primary-theme;
}

.text-theme {
    color: $text-color;
}

.login-input {
    margin: 10px 0px;
}

.register-input {
    margin: 10px 0px;
}

// Ladybug
.brand-emblem {
    width: 38px;
    height: auto;
}

body {
    background-color: $background;
    color: $text-color;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: $nav-dark!important;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: 2em;
    color: var($text-color);
    text-decoration: none;
    white-space: nowrap;
    text-overflow: clip;
    letter-spacing: 3px;
    text-shadow: -4px 0 1px $secondary-theme, 4px 0 1px blue;
}

a.navbar-brand:hover {
    color: $text-color-dim;
}

.main-content {
    // Only Exists to set scroll for all three columns in web page body
    // max-height: 85vh;
    // Sets the Horizontal width for all three columns in web page body
    max-width: 100vw;
}

.primary-row {
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position:-ms-page;
    right: 5;
    z-index: 9999; /* Set the z-index to a high value to ensure it overlaps other elements */
}

::-webkit-scrollbar-thumb {
    background-color: $text-color-dim;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: $primary-theme;
}

::-webkit-scrollbar-button {
    height: 0px;
}

.center-well {
    background-color: $background;
}

.left-well {
    background-color: $primary-theme;
    @extend %well;
}

.right-well {
    background-color: $background;
}


div.center.bubble {
    @extend %bubble;
}

.login-bubble {
    @extend %dark-bubble;
}

.priority-1 {
    color: rgb(62, 149, 37);
}

.priority-2 {
    color: orange;
}

.priority-3 {
    color: red;
}

input {
    background-color: black!important;
    color: white!important;
}

.wf-code {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: smaller;
}

button.archiveUnarchiveBtn {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: small;
}

$table-rows: 100;
$table-cols: 8;

table {
  @for $i from 1 through $table-rows {
    tr:nth-child(#{$i}) {
      @for $j from 1 through $table-cols {
        th:nth-child(#{$j}) {
          background-color: black;
          }
        td:nth-child(#{$j}) {
          background-color: black;
        }
      }
    }
  }
}

.accordion-button {
    background-color: #343a40; /* Set the background color of the button */
    color: #fff; /* Set the text color of the button */
}

.accordion-button:not(.collapsed) {
    background-color: #212529; /* Set the background color of the button when it's active */
}

.accordion-body {
    background-color: #212529; /* Set the background color of the content */
    color: #fff; /* Set the text color of the content */
}

.register::placeholder {
    color: $text-color-dim;
    opacity: 1; /* Firefox */
}

.register {
    color: $text-color-dim;
}

.tools {
    min-height: 30px;
}

a {
    text-decoration: none!important;
}

.tool-bin {
    min-width: 40px;
    height: 30px;
}

a.tool {
    display: inline-block;
    width: 0px;
}

svg.tool {
    fill: blue;
    stroke: blue;
    height: 23px;
    width: 23px;
}

svg.tool:hover {
    fill: $secondary-theme;
    stroke: $secondary-theme;
    height: 25px;
    width: 25px;
}

button.tool {
    @extend %post-button;
}

button.tool {
    @extend %post-button;
}

a:hover {
    color: $secondary-theme;
}

.workflow-overflow-box { 
    height: 76vh;
}

.ticket-table-overflow-box {
    max-height: 71vh;
}