$primary-theme: #0D1117;
$secondary-theme: rgb(172, 0, 0);
$nav-dark: #161B22;
$text-color: #E4E8EC;
$text-color-dim: #474748;
$background: black;


// $list-group-color:                  white;
// $list-group-bg:                     var(--#{$prefix}body-bg);
// $list-group-border-color:           var(--#{$prefix}border-color);
// $list-group-border-width:           var(--#{$prefix}border-width);
// $list-group-border-radius:          var(--#{$prefix}border-radius);

%well {
    color: $text-color;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
}

%bubble {
    background-color: $primary-theme;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

%dark-bubble {
    background-color: black;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.background-theme {
    background-color: $primary-theme;
}

.text-theme {
    color: $text-color;
}

.login-input {
    margin: 10px 0px;
}

.register-input {
    margin: 10px 0px;
}

// Ladybug
.brand-emblem {
    width: 38px;
    height: auto;
}

body {
    background-color: $background;
    color: $text-color;
    overflow: hidden;
    height: 100%;
}

.navbar {
    background-color: $nav-dark!important;
}

.container {
    display: flex;
}

.main-content {
    min-height: 100vh;
}

.center-well {
    background-color: $background;
}

.left-well {
    background-color: $primary-theme;
    @extend %well;
}

.right-well {
    background-color: $background;
}


div.center.bubble {
    @extend %bubble;
}

.login-bubble {
    @extend %dark-bubble;
}

input {
    background-color: black!important;
    color: white!important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.wf-code {
    position: absolute;
    top: 28px;
    right: 20px;
    font-size: smaller;
}

$table-rows: 3;
$table-cols: 10;

table {
  @for $i from 1 through $table-rows {
    tr:nth-child(#{$i}) {
      @for $j from 1 through $table-cols {
        th:nth-child(#{$j}) {
          background-color: black;
          }
        td:nth-child(#{$j}) {
          background-color: black;
        }
      }
    }
  }
}

.accordion-button {
    background-color: #343a40; /* Set the background color of the button */
    color: #fff; /* Set the text color of the button */
}

.accordion-button:not(.collapsed) {
    background-color: #212529; /* Set the background color of the button when it's active */
}

.accordion-body {
    background-color: #212529; /* Set the background color of the content */
    color: #fff; /* Set the text color of the content */
}

.register::placeholder {
    color: $text-color-dim;
    opacity: 1; /* Firefox */
}

.register {
    color: $text-color-dim;
}