{% extends "BUGSTACKER/layout.html" %}

{% block left %}
{% include "BUGSTACKER/index-left-well.html" with user=user %}
{% endblock %}

{% block body %}
    {% for project in project_list %}
        <div class="center bubble pt-3 m-4 pb-2 px-4 rounded-3 position-relative">
            <h1>{{ project.name }}</h1>
            <div>Project Code: {{ project.code }}</div>
            <div>Started: {{ project.created }}</div>
            <div>Project Manager: {{ project.pm.full_name }}</div>
            <div>Team members: {{ project.team_members.count }}</div>
            <div>Status: {{ project.get_status_display }}</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="{% url 'project_board' project.code %}" class="text-right position-absolute top-0 end-0 me-4 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-window" viewBox="0 0 16 16">
                    <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                    <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm13 2v2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 14a1 1 0 0 1-1-1V6h14v7a1 1 0 0 1-1 1H2z"/>
                </svg>
            </a>
        </div>
    {% endfor %}
{% endblock %}


{% block right %}
{% include "BUGSTACKER/right-well.html" with user=user %}
{% endblock %}
