{% extends "BUGSTACKER/layout.html" %}
{% load extra_filters %}

{% block left %}
    {% include "BUGSTACKER/index-left-well.html" with user=user %}
{% endblock %}


{% block body %}
    {% comment %} Everthing must go inside the center well div or issues will occur with dynamic sizing {% endcomment %}
    <div class="center-well col-lg-6">

        {% if user.role == "PM" %}
            {% comment %} New Project Form Modal {% endcomment %}
            <div class="modal fade" id="projectFormModal" tabindex="-1" aria-labelledby="projectFormModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark border border-black">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="projectFormModalLabel">New Project</h1>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'index' %}" method="post">
                                {% csrf_token %}
                                {{ project_form }}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary bg-primary" value="Create Project" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% comment %} Project History Modal {% endcomment %}
        <div class="modal fade " id="projectHistoryModal" tabindex="-1" aria-labelledby="projectHistoryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content bg-dark border border-black">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="projectHistoryModalLabel">Completed Project History</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            {% for project in history %}
                                <li class="list-group-item">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ project.name }}</h5>
                                        <small>Code: {{ project.long_hrc }}</small>
                                    </div>
                                    <p class="mb-1">{{ project.description|truncatewords:35}}</p>
                                    <small>Project Manager: {{ project.pm.full_name }}</small>
                                </li>
                            {% empty %}
                                <span>No project history...</span>
                            {% endfor %}
                          </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
            </div>
        </div>

        <div class="mt-4 mx-4">
            <h1>Projects</h1>
            <hr>
        </div>

        <div class="pe-2 m-4 project-column-overflow-box overflow-auto border border-0 rounded-4">
            {% for project in project_list %}
                <div class="center bubble pt-3 mb-4 pb-2 px-4 rounded-4 position-relative">
                    <h1 id="project-list-item-{{ project.code }}">{{ project.name }}</h1>
                    <div>Code: {{ project.code|project_hrc }}</div>
                    <div>Started: {{ project.created }}</div>
                    <div>Project Manager: {{ project.pm.full_name }}</div>
                    <div>Team members: {{ project.team_members.count }}</div>
                    <div>Status: {{ project.get_status_display }}</div>
                    <h4 class="mt-3">Description</h3>
                    <p>{{ project.description }}</p>
                    <a href="{% url 'project_board' project.code %}" class="position-absolute top-0 end-0 me-4 mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke="grey" stroke-width="0.5" fill="currentColor" class="bi bi-box-arrow-up-right tool" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                        </svg>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block right %}
    {% include "BUGSTACKER/index-right-well.html" with user=user %}
{% endblock %}
