{% extends "BUGSTACKER/layout.html" %}
{% load static %}

{% block script %}
{% comment %} type="text/babel" if the JS uses REACT {% endcomment %}
    <script type="module" src="{% static 'BUGSTACKER/project.js' %}"></script>
    <script type="module" src="{% static 'BUGSTACKER/edit-project-form-data.js' %}"></script>
{% endblock %}

{% block left %}
    {% include "BUGSTACKER/project-left-well.html" with user=user project=project %}
{% endblock %}

{% block body %}
    <div class="center-well col-xxl-6">
        {% comment %}  Ticket Form Modal  {% endcomment %}
        <div class="modal fade" id="ticketFormModal" tabindex="-1" aria-labelledby="ticketFormModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark border border-primary">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ticketFormModalLabel">New Ticket</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'project_board' project.code %}" method="post">
                            {% csrf_token %}
                            {{ new_ticket_form }}
                            
                            <div class="modal-footer mt-4">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create Ticket</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}  Workflow Form Modal  {% endcomment %}
        <div class="modal fade" id="workflowFormModal" tabindex="-1" aria-labelledby="workflowFormModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark border border-primary">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="workflowFormModalLabel">New Workflow</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'project_board' project.code %}" method="post">
                            {% csrf_token %}
                            {{ new_workflow_form }}
                            
                            <div class="modal-footer mt-4">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create Workflow</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}  Edit Project Form Modal  {% endcomment %}
        {% if user.role == "PM" %}
            <div class="modal fade" id="editProjectFormModal" tabindex="-1" aria-labelledby="editProjectFormModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark border border-primary">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editProjectFormModalLabel">Edit Project</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'project_board' project.code %}" method="post" id="editProjectForm">
                                {% csrf_token %}
                                {{ edit_project_form }}
                                
                                <div class="modal-footer mt-4">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% comment %}  Edit Workflow Form Modal  {% endcomment %}
        <div class="modal fade" id="editWorkflowFormModal" tabindex="-1" aria-labelledby="editWorkflowFormModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark border border-primary">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editWorkflowFormModalLabel">Edit Workflow</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'project_board' project.code %}" method="post" id="editWorkflowForm">
                            {% csrf_token %}
                            {{ edit_workflow_form }}

                            <div class="modal-footer mt-4">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        {% comment %} Nav Breadcrumb {% endcomment %}
        <nav class="mt-2 ms-2" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Projects</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'project_board' project.code %}">{{ project.name }}</a></li>
            </ol>
        </nav>

        <div class="mt-1 mx-4 mb-4 pt-2 px-4 pb-2 overflow-auto">
            
            {% if project.status == "A" %}
                <h1 class="text-light d-inline" id="projectName">{{ project.name }} </h1>
            {% elif project.status == "I" %}
                <h1 class="text-danger d-inline" id="projectName">{{ project.name }} </h1>
            {% endif %}


                {% comment %} Modal Buttons and Tools {% endcomment %}
                <div class="my-2 p-2 d-flex tools">
                        <div class="tool-bin my-2">
                            <a class="tool" title="Project Information" data-bs-toggle="collapse" data-bs-target="#projectInfo" aria-expanded="false" style="text-decoration: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="stroke: rgba(0, 0, 0, 0)" class="bi bi-info-square-fill tool" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="tool-bin my-2">
                            <a class="tool" title="Team Members" data-bs-toggle="collapse" data-bs-target="#projectTeam" aria-expanded="false" style="text-decoration: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill tool" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="tool-bin my-2">
                            <a class="tool" title="New Ticket" data-bs-toggle="modal" data-bs-target="#ticketFormModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-sticky tool" viewBox="0 0 16 16">
                                    <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="tool-bin my-2">
                            <a class="tool" title="New Workflow" data-bs-toggle="modal" data-bs-target="#workflowFormModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stack tool" viewBox="0 0 16 16">
                                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
                                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="tool-bin my-2">
                            <a class="tool" title="Table View" id="tableViewBtn" style="display: none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-table tool toggle-tickets" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                                </svg>
                            </a>
                            <a class="tool" title="Card View" id="cardViewBtn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-heading tool toggle-tickets" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                                </svg>
                            </a>
                        </div>

                    {% comment %} Project Info {% endcomment %}
                    <div class="collapse w-100 my-2" id="projectInfo">
                        <div class="bg-dark card card-body">
                            <h4>Project Information</h4>
                            <div>Project Code: {{ project.code }}</div>
                            <div>Started: {{ project.created }}</div>
                            <div>Project Manager: <span id="projectPm" data-id="{{ project.pm.id }}">{{ project.pm.full_name }}</span></div>
                            <div>Status: <span id="projectStatus">{{ project.get_status_display }}</span></div>
                            <h5>Description</h5>
                            <p id="projectDescription">
                                {{ project.description }}
                            </p>
                        </div>
                    </div>

                    {% comment %}<!-- Team Members -->{% endcomment %}
                    <div class="collapse w-100 my-2" id="projectTeam">
                        <div class="bg-dark card card-body">
                            <h4>Project Team</h4>
                            <ul>
                                {% for member in project.all_members.all %}
                                    <li class="team-member">{{ member.full_name }} - {{ member.role }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            <hr>
            {% comment %}<!-- Ticket cards -->{% endcomment %}
            <div style="display: none" id="ticketCards">
                {% for ticket in project.all_tickets %}
                <div class="ticket-card center bubble pt-3 my-4 pb-2 px-4 rounded-3" id="t_{{ ticket.code }}">
                    <h1>{{ ticket.name }}</h1>
                    <div>Ticket Code: {{ ticket.code }}</div>
                    <div>Workflow: {{ ticket.workflow.name }}</div>
                    <div>Priority: <span class="priority-{{ ticket.priority }}">{{ ticket.get_priority_display }}</span></div>
                    <div>Status: {{ ticket.get_status_display }}</div>
                    <div>Created: {{ ticket.created }}</div>
                    <div>Created by: {{ ticket.creator }}</div>
                    <div>Target Complete: {{ ticket.target_complete }}</div>
                    <div>Assignees: {{ ticket.string_assignees }}</div>
                    <p>{{ ticket.description }}</p>
                    <button class="manageTicketBtn" data-action="edit" data-project="{{ project.code }}" data-workflow="{{ ticket.workflow.code }}" data-target="{{ ticket.code }}">Manage</button>
                </div>
                {% empty %}
                <p>No Tickets...</p>
                {% endfor %}
            </div>

            {% comment %}<!-- Ticket table -->{% endcomment %}
            <div style="display: block" class="bubble px-2 pt-2 border border-dark rounded-3 overflow-x-auto" id="ticketTable">
                <table class="mb-0 pb-0 table table-dark table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th class="align-middle table-dark">Ticket Name</th>
                            <th class="align-middle table-dark">#</th>
                            <th class="align-middle table-dark">Workflow</th>
                            <th class="align-middle table-dark">Priority</th>
                            <th class="align-middle table-dark">Status</th>
                            <th class="align-middle table-dark">Target Complete</th>
                            <th class="align-middle table-dark">Assignees</th>
                            <th class="align-middle table-dark"></th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for ticket in project.all_tickets %}
                        <tr class="table-dark">
                            <td class="table-dark">{{ ticket.name|truncatewords:4 }}</td>
                            <td class="table-dark">{{ ticket.code }}</td>
                            <td class="table-dark">{{ ticket.workflow.name|truncatewords:4 }}</td>
                            <td class="table-dark priority-{{ ticket.priority }}">{{ ticket.get_priority_display }}</td>
                            <td class="table-dark">{{ ticket.get_status_display }}</td>
                            <td class="table-dark">{{ ticket.target_complete|date:"m/d/y" }}</td>
                            <td class="table-dark" title="{{ ticket.string_assignees }}">{{ ticket.string_assignees|truncatewords:4 }}</td>
                            <td class="table-dark">
                                <button class="manageTicketBtn" data-action="edit" data-project="{{ project.code }}" data-workflow="{{ ticket.workflow.code }}" data-target="{{ ticket.code }}">Manage</button>
                            </td>
                        </tr>
                        {% empty %}
                        <p>No Tickets...</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block right %}
    {% include "BUGSTACKER/project-right-well.html" with user=user project=project %}
{% endblock %}